.form-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  background-color: #fff;

  h1 {
    color: #7869ff;
    font-size: 2.5rem !important;
    // font-family: "Nunito", sans-serif !important;
    font-weight: 600;

    .brand-name {
      color: #0e1726;
    }
  }

  input:focus {
    border-bottom: 1px solid #0e1726;
    box-shadow: none;
  }

  .toggle-pass {
    align-self: center;
    text-align: left;
  }

  a.forgot-pass-link {
    width: 100%;
    color: #0e1726;
    text-align: right;
    display: block;
    letter-spacing: 2px;
    font-size: 15px;
    margin-top: 15px;
  }

  .register-link {
    width: 100%;
    text-align: center;
    display: block;
    letter-spacing: 2px;
    font-size: 15px;
    margin-top: 15px;
  }

  .register-link-color {
    color: #0e1726;
  }

  .terms-conditions {
    max-width: 480px;
    margin: 0 auto;
    color: #0e1726;
    margin-top: 90px;
  }

  p.signup-link {
    font-size: 14px;
    color: #e0e6ed;
    margin-bottom: 4vh;
  }

 

}

// .login-button {
//   svg {

//   }
// }

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-form .form-form-wrap {
  max-width: 480px;
  margin: 0 auto;
  min-width: 311px;
  min-height: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}


.form-form .form-form-wrap form .field-wrapper.input {
  position: relative;
  padding: 8px 0 25px 0;
}



.input {
  svg {
    position: absolute;
    top: 13px;
    color: #0e1726;
    fill: rgba(33, 150, 243, 0.109804);
    font-size: 1.5em;
  }
}


.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;

}


.form-form .form-form-wrap form .field-wrapper input {
  display: inline-block;
  vertical-align: middle;
  border-radius: 0;
  min-width: 50px;
  max-width: 635px;
  width: 100%;
  min-height: 36px;
  background-color: transparent;
  border: none;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  color: #0e1726;
  font-size: 16px;
  border-bottom: 1px solid #0e1726;
  padding: 0px 0 10px 35px !important;
}

.form-image {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.form-image {
  img {
    height: 15vh;
  }
}

.form-image {
  .l-image {
    background-image: url(../../../assets/iot_logo-1.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #060818;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: center;
    background-position-y: center;
  }
}
