<div class="form-container">
  <div class="row form-form">

    <div class="col-12 col-xl-6 col-sm-12 col-md-12  col-lg-6">
      <div class="form-form">
        <div class="form-form-wrap">
          <div class="form-container">
            <div class="form-content">
              <h1>Log In to <a ><span class="brand-name">IOT Dashboard</span></a></h1>
              <p class="signup-link">&nbsp;</p>
              <form class="text-left ng-untouched ng-pristine ng-invalid"  role="form" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                <div class="form">
                  <div id="Email Id-field" class="field-wrapper input"><i class="fas fa-at"></i><input id="Email Id" name="Email Id" type="text" placeholder="Email Id"
                    formControlName="emailId" class="form-control" required
              
                      [ngClass]="{ 'is-invalid': submitted && loginGetter.emailId.errors }" />
                    <div *ngIf="submitted && loginGetter.emailId.errors" class="invalid-feedback">
                      <div *ngIf="loginGetter.emailId.errors.required"> Email ID is required </div>
                      <div *ngIf="loginGetter.emailId.errors.pattern"> Invalid Email </div>
                    </div>
                  </div>
                  <div id="password-field" class="field-wrapper input mb-2">
                    <i class="fas fa-lock"></i><input placeholder="Password" formControlName="password"
                      class="form-control ng-untouched ng-pristine ng-invalid" [type]="password"  required
                      [ngClass]="{ 'is-invalid': submitted && loginGetter.password.errors }" />
                      <span (click)="toggleFieldTextType()" title="Show Password" class="eye-icon"  *ngIf="!fieldTextType"> 
                        <i class="fa fa-eye" type="button"></i>
                       </span>
                       <span (click)="toggleFieldTextType()"  title="Hide Password" class="eye-icon"  *ngIf="fieldTextType"> 
                        <i class="fa fa-eye-slash"  type="button"></i>
                       </span>
                    <div *ngIf="submitted && loginGetter.password.errors" class="invalid-feedback">
                      <div *ngIf="loginGetter.password.errors.required"> Please Enter Password </div>
                    </div>
                      <div class="field-wrapper"><a routerLink="/forgot-password" class="forgot-pass-link">Forgot Password?</a></div>
                  </div>
                  <div class="d-sm-flex justify-content-between">
                    
                    <div class="field-wrapper">
                      <button type="submit" class="btn login-button" *ngIf="spinner"  [disabled]="spinner || loginForm.invalid"> Log In  <i class=" fas fa-spin fa-spinner"></i></button>
                      <button type="submit" class="btn login-button" *ngIf="!spinner ">Log In</button>
                    </div>
                  </div>
                  <div class="field-wrapper"><p  class="register-link">Don't have an Account? <a routerLink="/signup" class="register-link-color"> Register Here </a></p></div>
                </div>
              </form>
           
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6  form-image-col">
        <div class="form-image">
            <img src="assets/iot_logo-1.png" alt="">
        </div>
    </div>

  </div>

</div>
