nav {
  border-radius: 1em;
  margin: 1vh !important;
  position: sticky;
  z-index: 7;
  top: 0;
  left: 0;
  margin: 0;
  // box-shadow: 0 0px 20px rgba(0, 0, 0, 0.18);
  padding: 0;
  height: 8vh;
  background: #0e1726 !important;
  color: #f2f2f2;

  .row {
    width: 100%;
    margin: auto;

    .main-heading {
      text-align: right;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
  }


  .container-fluid {
    padding: 0 !important;
  }

  .cursor {
    cursor: pointer;
    color: #f2f2f2;
  }

  .name-heading {
    cursor: pointer;
  }

  .name-heading:hover {
    color: #f2f2f2;

  }

  .cursor:hover {
    text-decoration: underline;
  }

  .cursor.active {
    text-decoration: underline;
    font-weight: bold;
  }

}


.page-redirect.active {
  color: #f2f2f2 !important;
}

.web,
.mobile {
  margin: 0 !important;
}

.sidemenu-dropdown {
  margin: 0% !important;
  color: #f2f2f2;
}




@media (min-width: 1080.1px) {
  .middle {
    h1 {
      margin: 0;
      font-size: 3vh !important;
    }
  }

  .web {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media(max-width: 1080px) {
  .web {
    display: none;
  }

  .head {
    text-align: center;
    margin: 0 !important;
  }

  .mobile {
    display: block;
    padding: .25em;
    color: #f2f2f2;

    img {
      height: 4vh;
      border-radius: 50%;
      background: #f2f2f2;
      padding: .25em;
      border: 2px solid #0e1726;
    }


  }

  .middle {
    h1 {
      margin: 0;
      font-size: 2vh !important;
    }
  }

  .middle {
    display: flex;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 16px !important;
    }
  }

  .right {

    padding-right: .25em !important;

    h6,
    h5 {
      font-size: .7rem !important;
      width: 98% !important;
    }
  }
}


button:hover {
  h4 {
    color: #f2f2f2 !important;
  }
}


button.active {
  h4 {
    color: #f2f2f2 !important;
  }
}

.nav-profile-icon {
  height: 4vh !important;
  width: 4vh !important;
  border: 1px solid #0e1726;
  border-radius: 50%
}

.nav-profile-icon-small {
  height: 2vh;
  width: 2vh;
 
}