<div class="main-content">

  <div class="row">
    <div class="col-xl-4 col-lg-4  col-md-4 col-12">

      <form class="form-inline my-2 my-lg-0 ng-pristine ng-valid ng-touched">
        <div style="width: 100%; position: relative;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="feather feather-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg><input name="txtdevicesearch" type="text" id="input-search" placeholder="Search by meter name..."
          class="form-control product-search ng-pristine ng-valid ng-touched">
        </div>
      </form>

    </div>
    <div class="col-xl-4 col-lg-4  col-md-4 col-12">
      <select class="form-control product-search ng-pristine ng-valid ng-touched">
        <option selected>All</option>
        <option> Temperature</option>
      </select>
    </div>
    <div class="col-xl-4 col-lg-4  col-md-4 col-12">
      <select class="form-control product-search ng-pristine ng-valid ng-touched">
        <option selected>All</option>
        <option> Temperature</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-12" style="text-align: end;">
      <mat-slide-toggle>Show Graph</mat-slide-toggle>
    </div>
  </div>

  <div class="row data-row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-12 ">
      <div class="card component-card_9">
        <div class="card-body ">
          <div class="meta-info meta-info1">
            <div class="meta-user">
              <div class="user-name"><a href="/user/1paramdetail/0003INC311ON12200137">
                  <h5 class="card-title">Meter</h5>
                </a></div>
            </div>
            <div class="meta-action">
              <div class="meta-likes">
                <div class="w-icon "><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-wifi-off">
                    <line x1="1" y1="1" x2="23" y2="23"></line>
                    <path d="M16.72 11.06A10.94 10.94 0 0 1 19 12.55"></path>
                    <path d="M5 12.55a10.94 10.94 0 0 1 5.17-2.39"></path>
                    <path d="M10.71 5.05A16 16 0 0 1 22.58 9"></path>
                    <path d="M1.42 9a15.91 15.91 0 0 1 4.7-2.88"></path>
                    <path d="M8.53 16.11a6 6 0 0 1 6.95 0"></path>
                    <line x1="12" y1="20" x2="12.01" y2="20"></line>
                  </svg></div>

              </div>
            </div>
          </div>
          <div class="car">
            <div class="meta-info">
              <div class="meta-user">
                <div class="avatar avatar-sm"><span class="avatar-title rounded-circle">P</span></div>
                <div class="user-name">Pressure</div>
              </div>
              <div class="meta-action">
                <div class="meta-likes"> 0 </div>
              </div>
            </div>
            <div class="meta-info">
              <div class="meta-user">
                <div class="avatar avatar-sm"><span class="avatar-title rounded-circle">V</span></div>
                <div class="user-name">Volume</div>
              </div>
              <div class="meta-action">
                <div class="meta-likes"> 0 </div>
              </div>
            </div>
          </div>
          <!---->
          <!---->
          <div class="meta-info">
            <div class="meta-user">
              <div class="user-name">Last updated</div>
            </div>
            <div class="meta-action">
              <div class="meta-likes"> 5/8/2021, 06:10 PM </div>
            </div>
          </div>
        </div>
        <!---->
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-12 ">
      <div class="card component-card_9">
        <div class="card-body ">
          <div class="meta-info meta-info1">
            <div class="meta-user">
              <div class="user-name"><a href="/user/1paramdetail/0003INC311ON12200137">
                  <h5 class="card-title">Meter</h5>
                </a></div>
            </div>
            <div class="meta-action">
              <div class="meta-likes">
                <div class="w-icon "><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-wifi-off">
                    <line x1="1" y1="1" x2="23" y2="23"></line>
                    <path d="M16.72 11.06A10.94 10.94 0 0 1 19 12.55"></path>
                    <path d="M5 12.55a10.94 10.94 0 0 1 5.17-2.39"></path>
                    <path d="M10.71 5.05A16 16 0 0 1 22.58 9"></path>
                    <path d="M1.42 9a15.91 15.91 0 0 1 4.7-2.88"></path>
                    <path d="M8.53 16.11a6 6 0 0 1 6.95 0"></path>
                    <line x1="12" y1="20" x2="12.01" y2="20"></line>
                  </svg></div>

              </div>
            </div>
          </div>
          <div class="car">
            <div class="meta-info">
              <div class="meta-user">
                <div class="avatar avatar-sm"><span class="avatar-title rounded-circle">P</span></div>
                <div class="user-name">Pressure</div>
              </div>
              <div class="meta-action">
                <div class="meta-likes"> 0 </div>
              </div>
            </div>
            <div class="meta-info">
              <div class="meta-user">
                <div class="avatar avatar-sm"><span class="avatar-title rounded-circle">V</span></div>
                <div class="user-name">Volume</div>
              </div>
              <div class="meta-action">
                <div class="meta-likes"> 0 </div>
              </div>
            </div>
          </div>
          <!---->
          <!---->
          <div class="meta-info">
            <div class="meta-user">
              <div class="user-name">Last updated</div>
            </div>
            <div class="meta-action">
              <div class="meta-likes"> 5/8/2021, 06:10 PM </div>
            </div>
          </div>
        </div>
        <!---->
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-12 ">
      <div class="card component-card_9">
        <div class="card-body ">
          <div class="meta-info meta-info1">
            <div class="meta-user">
              <div class="user-name"><a href="/user/1paramdetail/0003INC311ON12200137">
                  <h5 class="card-title">Meter</h5>
                </a></div>
            </div>
            <div class="meta-action">
              <div class="meta-likes">
                <div class="w-icon "><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-wifi-off">
                    <line x1="1" y1="1" x2="23" y2="23"></line>
                    <path d="M16.72 11.06A10.94 10.94 0 0 1 19 12.55"></path>
                    <path d="M5 12.55a10.94 10.94 0 0 1 5.17-2.39"></path>
                    <path d="M10.71 5.05A16 16 0 0 1 22.58 9"></path>
                    <path d="M1.42 9a15.91 15.91 0 0 1 4.7-2.88"></path>
                    <path d="M8.53 16.11a6 6 0 0 1 6.95 0"></path>
                    <line x1="12" y1="20" x2="12.01" y2="20"></line>
                  </svg></div>

              </div>
            </div>
          </div>
          <div class="car">
            <div class="meta-info">
              <div class="meta-user">
                <div class="avatar avatar-sm"><span class="avatar-title rounded-circle">P</span></div>
                <div class="user-name">Pressure</div>
              </div>
              <div class="meta-action">
                <div class="meta-likes"> 0 </div>
              </div>
            </div>
            <div class="meta-info">
              <div class="meta-user">
                <div class="avatar avatar-sm"><span class="avatar-title rounded-circle">V</span></div>
                <div class="user-name">Volume</div>
              </div>
              <div class="meta-action">
                <div class="meta-likes"> 0 </div>
              </div>
            </div>
          </div>
          <!---->
          <!---->
          <div class="meta-info">
            <div class="meta-user">
              <div class="user-name">Last updated</div>
            </div>
            <div class="meta-action">
              <div class="meta-likes"> 5/8/2021, 06:10 PM </div>
            </div>
          </div>
        </div>
        <!---->
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-12 ">
      <div class="card component-card_9">
        <div class="card-body ">
          <div class="meta-info meta-info1">
            <div class="meta-user">
              <div class="user-name"><a href="/user/1paramdetail/0003INC311ON12200137">
                  <h5 class="card-title">Meter</h5>
                </a></div>
            </div>
            <div class="meta-action">
              <div class="meta-likes">
                <div class="w-icon "><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-wifi-off">
                    <line x1="1" y1="1" x2="23" y2="23"></line>
                    <path d="M16.72 11.06A10.94 10.94 0 0 1 19 12.55"></path>
                    <path d="M5 12.55a10.94 10.94 0 0 1 5.17-2.39"></path>
                    <path d="M10.71 5.05A16 16 0 0 1 22.58 9"></path>
                    <path d="M1.42 9a15.91 15.91 0 0 1 4.7-2.88"></path>
                    <path d="M8.53 16.11a6 6 0 0 1 6.95 0"></path>
                    <line x1="12" y1="20" x2="12.01" y2="20"></line>
                  </svg></div>

              </div>
            </div>
          </div>
          <div class="car">
            <div class="meta-info">
              <div class="meta-user">
                <div class="avatar avatar-sm"><span class="avatar-title rounded-circle">P</span></div>
                <div class="user-name">Pressure</div>
              </div>
              <div class="meta-action">
                <div class="meta-likes"> 0 </div>
              </div>
            </div>
            <div class="meta-info">
              <div class="meta-user">
                <div class="avatar avatar-sm"><span class="avatar-title rounded-circle">V</span></div>
                <div class="user-name">Volume</div>
              </div>
              <div class="meta-action">
                <div class="meta-likes"> 0 </div>
              </div>
            </div>
          </div>
          <!---->
          <!---->
          <div class="meta-info">
            <div class="meta-user">
              <div class="user-name">Last updated</div>
            </div>
            <div class="meta-action">
              <div class="meta-likes"> 5/8/2021, 06:10 PM </div>
            </div>
          </div>
        </div>
        <!---->
      </div>
    </div>
  </div>
</div>
