<div class="overview" style="margin: 0;">


  <div class="sidebarmargin web" *ngIf="!showFiller" [ngClass]="{
      'sidebarmargin': !showFiller
    }" style="
    height: 100vh;
    position: fixed;">
    <div class="bottom-logo">
      <img src="assets/logo.png" style="height: 7vh; margin: 1em;
          padding: 0.5em;">
    </div>
    <div class=" column-first laptop animate__animated animate__fadeInLeft" style="height: 80vh; padding: 1em 0 0 0;">
      <ul id="myGroup">
        <li routerLinkActive="active" matTooltip="Home"
          matTooltipClass="example-tooltip-red" class="list">
          <div routerLinkActive="active" class="collapse-expand"><i class="fas fa-home"></i>
          </div>
        </li>
        <li routerLinkActive="active" routerLink="/dashboard/home/profile" matTooltip="Profile"
          matTooltipClass="example-tooltip-red" class="list">
          <div routerLinkActive="active" class="collapse-expand"><i class="fas fa-user"></i>
          </div>
        </li>
      </ul>


    </div>

  </div>
  <mat-drawer-container class="example-container" autosize [ngClass]="{
        'padding-left': !showFiller}">
    <button type="button" class="web " mat-icon-button (click)="draw.toggle()" (click)="toggles()">
      <i class=" fas fa-bars"></i>
    </button>
    <mat-drawer #draw class="example-sidenav web" mode="side" opened>
      <aside class=" main-sidebar laptops" id="sidebar" [hidden]="hideMobileMenu" [ngClass]="{'hidden': hideSideNav }">
        <div class=" column-first laptop">
          <div class="bottom-logo">
            <img src="assets/iot_logo-1.png" style="height: 7vh; margin: 1em;
              padding: 0.5em;">
          </div>
          <ul id="myGroup">
            <li routerLinkActive="active" routerLink="/dashboard/home/main" class="list">
              <div routerLinkActive="active" class="collapse-expand"><span routerLinkActive="active"><i
                    class="fas fa-user" style="margin-right: 1em;"></i> User </span>
              </div>
            </li>

            <li routerLinkActive="active" class="list">
              <div routerLinkActive="active" class="collapse-expand"><span routerLinkActive="active"><i
                    class="fas fa-wallet" style="margin-right: 1em;"></i> Payment Setup </span>
              </div>
            </li>
            <li routerLinkActive="active" class="list">
              <div routerLinkActive="active" class="collapse-expand"><span routerLinkActive="active"><i
                    class="fas fa-home" style="margin-right: 1em;"></i> Meditations </span>
              </div>
            </li>
            <li routerLinkActive="active" class="list">
              <div routerLinkActive="active" class="collapse-expand"><span routerLinkActive="active"><i
                    class="fas fa-home" style="margin-right: 1em;"></i> Categories </span>
              </div>
            </li>
            <li routerLinkActive="active" class="list">
              <div routerLinkActive="active" class="collapse-expand"><span routerLinkActive="active"><i
                    class="fas fa-home" style="margin-right: 1em;"></i> Programs </span>
              </div>
            </li>

            <li routerLinkActive="active" class="list">
              <div routerLinkActive="active" class="collapse-expand"><span routerLinkActive="active"><i
                    class="fas fa-home" style="margin-right: 1em;"></i> Intro Questions </span>
              </div>
            </li>
            <li routerLinkActive="active" routerLink="/dashboard/home/profile" class="list">
              <div routerLinkActive="active" class="collapse-expand"><span routerLinkActive="active"><i
                    class="fas fa-user" style="margin-right: 1em;"></i> Profile </span>
              </div>
            </li>

          </ul>

        </div>


      </aside>
    </mat-drawer>
    <app-navbar></app-navbar>

    <router-outlet></router-outlet>

  </mat-drawer-container>


  <app-sidebar class="sidebar mobile"></app-sidebar>
</div>
