/* You can add global styles to this file, and also import other style files */

// @import '~ngx-toastr/toastr';
html,
body {
  height: 100%;
  // background: #060818;
background-color: #f2f2f2;
  // color: #0e1726 !important;
  color: #0e1726 !important;
  font-size: 0.875rem !important;
  letter-spacing: 0.0312rem !important;
  font-family: 'Nunito', sans-serif !important;
}

*::-webkit-scrollbar {
  width: 0em;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid slategrey;
}

.login-button {
  width: 100%;
  background-color: transparent !important;
  transition: .5s all;
  color: #0e1726 !important;
  border: 1px solid #0e1726;
}

.field-wrapper {
  width: 100%;
  // text-align: center !important;
}

.login-button:hover {
  background-color: #0e1726 !important;
  width: 100%;
  transition: .5s all;
  color: #bfc9d4 !important;
  border: 1px solid #0e1726;
}

.login-button:active {
  background-color: #0e1726 !important;
  // width: 95%;
  transition: .5s all;
  color: #bfc9d4 !important;
  border: 1px solid #0e1726;
}

.mat-drawer-container {
  color: #0e1726 !important;
}


.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-bottom: 1px solid red !important;
}


input,
select {
  font-size: 2vh !important;
}

.eye-icon {
  margin-left: -2em;
  cursor: pointer;
}

.mat-menu-content,
.mat-menu-pannel {
  border: 1px solid #0e1726;
  background-color: #0e1726 !important;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
  width: 100% !important;
  margin: auto !important;
}


@media (max-width: 1000px) {
  .form-image-col {
    display: none !important;
  }
}


a {
  color: #FF69B4 !important;
}