<div class="main-content">
  <div class="row data-row" *ngIf=" !loader">
    <div class="col-12" style="text-align:end">
      <select (change)="setTime($event)" style="width: 30vh !important; border-radius: 10px;">
      <option value="">No Interval</option>
      <option value="5">1 minutes</option>
      <option value="10">5 minutes</option>
      <!-- <option value="30">30 minutes</option> -->
    </select></div>
    <div class="col-12">


      <mat-tab-group>
        <mat-tab label="Today Graph">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-12 layout-spacing">
              <!-- <div class="card component-card_9" style="height: 50vh; overflow-x:hidden;">
                <div class="card-body "> -->
                  <div class="widget widget-account-invoice-three">
                    <div class="widget-heading">
                      <div class="wallet-usr-info">
                        <div class="usr-name"><span><i class="fas fa-users" class="img-fluid"> </i>
                            {{infoGraph.DeviceName}}</span></div>

                      </div>
                      <div class="wallet-balance">
                        <p>Energy Consumed</p>

                      </div>
                    </div>
                    <div class="widget-amount">
                      <div *ngFor="let value of infoGraph.iot_data" class="w-a-info funds-received"
                        style="margin: .25em;"><span>{{value.iot_key}}
                        </span>
                        <p>{{value.iot_value}}</p>
                      </div>

                    </div>
                    <div class="widget-content">

                      <div class="invoice-list">
                        <div class="inv-detail">
                          <div class="info-detail-1">
                            <p class="span">Interval : </p>
                            <p><span class="w-currency"></span><span class="bill-amount">10 secs</span></p>
                          </div>
                          <div class="info-detail-2">
                            <p class="span">Last Updated :</p>
                            <p><span class="w-currency"></span><span
                                class="bill-amount">{{infoGraph.Timing_format | date:"medium"}}</span></p>
                          </div>
                        </div>
                      <!-- </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
              <div class=" " style="height: 62vh; overflow-x:hidden;">
                <div class=" ">
                  <ngx-charts-pie-chart
                  [view]="pieChartView"
                  [results]="graphComapreData"
                  [scheme]="colorScheme"
                 
                  labels="true"
                  doughnut="true"
              ></ngx-charts-pie-chart>
                </div>

              </div>
            </div>
           
            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
              <div class="card component-card_9" style="height: 50vh; overflow-x:hidden;">
                <div class="card-body ">
                  <h5 class="heading">{{infoGraph.iot_data[0].iot_key}}</h5>
                  <ngx-charts-bar-vertical style="    display: flex;
            align-items: center; color: blanchedalmond !important;
            justify-content: center;" [scheme]="colorScheme" [results]="graphData" [gradient]="gradient"
                    [barPadding]="2" [xAxis]="showXAxis" [yAxis]="showYAxis" [showGridLines]="false"
                    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel" [xAxisType]="dateEpoch" (select)="onSelect($event)">
                  </ngx-charts-bar-vertical>
                </div>

              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
              <div class="card component-card_9" style="height: 50vh; overflow-x:hidden;">
                <div class="card-body ">
                  <h5 class="heading">{{infoGraph.iot_data[1].iot_key}}</h5>
                    
                  <ngx-charts-bar-vertical style="    display: flex;
            align-items: center; color: blanchedalmond !important;
            justify-content: center;" [scheme]="colorScheme" [results]="graphDataTwo" [gradient]="gradient"
                    [barPadding]="2" [xAxis]="showXAxis" [yAxis]="showYAxis" [showGridLines]="false"
                    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel" [xAxisType]="dateEpoch" (select)="onSelect($event)">
                  </ngx-charts-bar-vertical>
                </div>

              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
              <div class="card component-card_9" style="height: 50vh; overflow-x:hidden;">
                <div class="card-body ">
                  <h5 class="heading">{{infoGraph.iot_data[2].iot_key}}</h5>

                  <ngx-charts-bar-horizontal style="    display: flex;
            align-items: center; color: blanchedalmond !important;
            justify-content: center;" [scheme]="colorScheme" [results]="graphDataThree" [gradient]="gradient"
                    [barPadding]="2" [xAxis]="showXAxis" [yAxis]="showYAxis" [showGridLines]="false"
                    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel" [xAxisType]="dateEpoch" (select)="onSelect($event)">
                  </ngx-charts-bar-horizontal>
                </div>

              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
              <div class="card component-card_9" style="height: 50vh; overflow-x:hidden;">
                <div class="card-body ">
                  <h5 class="heading">{{infoGraph.iot_data[3].iot_key}}</h5>

                  <ngx-charts-area-chart [scheme]="colorScheme" [results]="graphDataFour" [gradient]="gradient"
                    [xAxis]="showXAxis" [yAxis]="showYAxis" [showGridLines]="false" [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                    [xAxisType]="dateEpoch" (select)="onSelect($event)">
                  </ngx-charts-area-chart>
                </div>

              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Yesterday Graph">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-12 layout-spacing">
              <!-- <div class="card component-card_9" style="height: 50vh; overflow-x:hidden;">
                <div class="card-body "> -->
                  <div class="widget widget-account-invoice-three">
                    <div class="widget-heading">
                      <div class="wallet-usr-info">
                        <div class="usr-name"><span><i class="fas fa-users" class="img-fluid"> </i>
                            {{infoGraph.DeviceName}}</span></div>

                      </div>
                      <div class="wallet-balance">
                        <p>Energy Consumed</p>

                      </div>
                    </div>
                    <div class="widget-amount">
                      <div *ngFor="let value of infoGraph.iot_data" class="w-a-info funds-received"
                        style="margin: .25em;"><span>{{value.iot_key}}
                        </span>
                        <p>{{value.iot_value}}</p>
                      </div>

                    </div>
                    <div class="widget-content">

                      <div class="invoice-list">
                        <div class="inv-detail">
                          <div class="info-detail-1">
                            <p class="span">Interval : </p>
                            <p><span class="w-currency"></span><span class="bill-amount">10 secs</span></p>
                          </div>
                          <div class="info-detail-2">
                            <p class="span">Last Updated :</p>
                            <p><span class="w-currency"></span><span
                                class="bill-amount">{{infoGraph.Timing_format | date:"medium"}}</span></p>
                          </div>
                        </div>
                      <!-- </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
              <div class=" " style="height: 62vh; overflow-x:hidden;">
                <div class=" ">
                  <ngx-charts-pie-chart
                  [view]="pieChartView"
                  [results]="graphComapreData"
                  [scheme]="colorScheme"
                 
                  labels="true"
                  doughnut="true"
              ></ngx-charts-pie-chart>
                </div>

              </div>
            </div>
           
            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
              <div class="card component-card_9" style="height: 50vh; overflow-x:hidden;">
                <div class="card-body ">
                  <h5 class="heading">{{infoGraph.iot_data[0].iot_key}}</h5>
                  <ngx-charts-area-chart [scheme]="colorScheme" [results]="graphDataYesterday"
                  [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showGridLines]="false"
                  [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel" [xAxisType]="dateEpoch" (select)="onSelect($event)">
                </ngx-charts-area-chart>
                </div>

              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
              <div class="card component-card_9" style="height: 50vh; overflow-x:hidden;">
                <div class="card-body ">
                  <h5 class="heading">{{infoGraph.iot_data[1].iot_key}}</h5>
                    
                  <ngx-charts-bar-vertical style="    display: flex;
            align-items: center; color: blanchedalmond !important;
            justify-content: center;" [scheme]="colorScheme" [results]="graphDataTwoYesterday" [gradient]="gradient"
                    [barPadding]="2" [xAxis]="showXAxis" [yAxis]="showYAxis" [showGridLines]="false"
                    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel" [xAxisType]="dateEpoch" (select)="onSelect($event)">
                  </ngx-charts-bar-vertical>
                </div>

              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
              <div class="card component-card_9" style="height: 50vh; overflow-x:hidden;">
                <div class="card-body ">
                  <h5 class="heading">{{infoGraph.iot_data[2].iot_key}}</h5>

                  <ngx-charts-bar-horizontal style="    display: flex;
            align-items: center; color: blanchedalmond !important;
            justify-content: center;" [scheme]="colorScheme" [results]="graphDataThreeYesterday" [gradient]="gradient"
                    [barPadding]="2" [xAxis]="showXAxis" [yAxis]="showYAxis" [showGridLines]="false"
                    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel" [xAxisType]="dateEpoch" (select)="onSelect($event)">
                  </ngx-charts-bar-horizontal>
                </div>

              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
              <div class="card component-card_9" style="height: 50vh; overflow-x:hidden;">
                <div class="card-body ">
                  <h5 class="heading">{{infoGraph.iot_data[3].iot_key}}</h5>

                  <ngx-charts-area-chart [scheme]="colorScheme" [results]="graphDataFourYesterday" [gradient]="gradient"
                    [xAxis]="showXAxis" [yAxis]="showYAxis" [showGridLines]="false" [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                    [xAxisType]="dateEpoch" (select)="onSelect($event)">
                  </ngx-charts-area-chart>
                </div>

              </div>
            </div>
          </div>
          <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <ngx-charts-area-chart [view]="view" [scheme]="colorScheme" [results]="graphDataYesterday"
                  [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showGridLines]="false"
                  [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel" [xAxisType]="dateEpoch" (select)="onSelect($event)">
                </ngx-charts-area-chart>
        
          </div> -->
        </mat-tab>
        <mat-tab label="Week Graph">
          <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card component-card_9" style="height: 70vh;">
              <div class="card-body ">
                <ngx-charts-bar-vertical style="    display: flex;
            align-items: center; color: blanchedalmond !important;
            justify-content: center;" [scheme]="colorScheme" [results]="graphDataWeek" [gradient]="gradient"
                  [barPadding]="2" [xAxis]="showXAxis" [yAxis]="showYAxis" [showGridLines]="false"
                  [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel" [xAxisType]="dateEpoch" (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
              </div>

            </div>
          </div>
        </mat-tab>
       
      </mat-tab-group>
      
    </div>

  </div>

  <div class="loading-area" *ngIf="overlapLoader">
    <i class="fas fa-spin fa-spinner"></i>
  </div>


  <div class="row " *ngIf="loader">

    <div class="col-xl-6 col-lg-6 col-md-6 col-6 ">
      <div class="card component-card_9" style=" height: 50vh; overflow-x:hidden; display: flex;
      align-items: center;
      justify-content: center;">
        <div class="card-body ">
          <div class="loader">
            <img src="assets/loader.gif" style="height: 50vh;">
          </div>
        </div>

      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-6 ">
      <div class="card component-card_9" style=" height: 50vh; overflow-x:hidden; display: flex;
      align-items: center;
      justify-content: center;">
        <div class="card-body ">
          <div class="loader">
            <img src="assets/loader.gif" style="height: 50vh;">
          </div>
        </div>

      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-6 ">
      <div class="card component-card_9" style=" height: 50vh; overflow-x:hidden;    display: flex;
      align-items: center;
      justify-content: center;">
        <div class="card-body ">
          <div class="loader">
            <img src="assets/loader.gif" style="height: 50vh;">
          </div>
        </div>

      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-6 ">
      <div class="card component-card_9" style=" height: 50vh; overflow-x:hidden;    display: flex;
      align-items: center;
      justify-content: center;">
        <div class="card-body ">
          <div class="loader">
            <img src="assets/loader.gif" style="height: 50vh;">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
